table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

.employee-body{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    font-size: 0.9em;
    font-family: sans-serif;

}
.employee-body thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.employee-body th,
.employee-body td {
    padding: 12px 15px;
}
.update-button{
   width: 200px;
}

#create-employee-btn {
    box-shadow: 5px 11px 6px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border-radius: 5px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 17px;
    padding: 20px 53px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
#create-employee-btn-btn:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}