table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

.employee-body{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    font-size: 0.9em;
    font-family: sans-serif;

}
.employee-body thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.employee-body th,
.employee-body td {
    padding: 12px 15px;
}



