#ande-btn {
    box-shadow: 0px 0px 0px 19px #9fb4f2;
    background: #7892c2 linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 25px 60px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}
#ande-btn:hover {
    background: #476e9e linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}
#måge-btn {
    box-shadow: 0px 0px 0px 19px #9fb4f2;
    background: #7892c2 linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 25px 60px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}
#måge-btn:hover {
    background: #476e9e linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}

#terne-btn {
    box-shadow: 0px 0px 0px 19px #9fb4f2;
    background: #7892c2 linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 25px 60px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}
#terne-btn:hover {
    background: #476e9e linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}

#vibe-btn {
    box-shadow: 0px 0px 0px 19px #9fb4f2;
    background: #7892c2 linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 25px 60px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}
#vibe-btn:hover {
    background: #476e9e linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}
#måge-div{
    margin: auto;
    position: absolute;
    top: 84%;
    left: 40%;
}
#terne-div {
    margin: auto;
    position: absolute;
    top: 62%;
    left: 40%;
}
#vibe-div{
    margin: auto;
    position: absolute;
    top: 40%;
    left: 40%;
}
#ande-div{
    margin: auto;
    position: absolute;
    top: 18%;
    left: 40%;
}

.float-container {
    margin: 0;
}

.notes {
    float:left;
    width:75%;
    overflow:hidden;
    height: 40em;
}


.float-child {
    float:left;
    width:25%;
    overflow:hidden;
    display: table;
    border-style:solid;
    border-color: #B2EB71;
    border-width: 3px;
    background-color: #B2EB71;
}
.employee-img {
    vertical-align: middle;
    display: table-cell;
    height: 2em;
}
span {
    vertical-align: middle;
    display: table-cell;
    width: 3em;
}