#ande-btn {
    box-shadow: 5px 11px 6px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border-radius: 5px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 17px;
    padding: 20px 53px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
#ande-btn:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}

#måge-btn {
    box-shadow: 5px 11px 6px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border-radius: 5px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 17px;
    padding: 20px 53px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
#måge-btn:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}
#terne-btn {
    box-shadow: 5px 11px 6px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border-radius: 5px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 17px;
    padding: 20px 53px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
#terne-btn:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}
#vibe-btn {
    box-shadow: 5px 11px 6px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border-radius: 5px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 17px;
    padding: 20px 53px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
#vibe-btn:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}