.float-container {
    margin: 0;
}

.notes {
    float:left;
    width:75%;
    overflow:hidden;
    height: 40em;
}


.float-child {
    float:left;
    width:25%;
    overflow:hidden;
    display: table;
}
.employee-img {
    vertical-align: middle;
    display: table-cell;
    height: 2em;
}
span {
    vertical-align: middle;
    display: table-cell;
    width: 3em;
}